<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="handle">
  <xacro:macro name="handle" params="connected_to:='' ns:='' rpy:='0 0 0' xyz:='0 0 0' ">
    <xacro:unless value="${connected_to == ''}">
      <joint name="${ns}_handle_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="${ns}_handle"/>
        <origin xyz="${xyz}" rpy="${rpy}"/>
      </joint>
    </xacro:unless> 
    <link name="${ns}_handle">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://franka_description/meshes/wireloop/sample_handle.stl"/>
        </geometry>
        <material name="handle_color">
		      <color rgba="${10/255} ${10/255} ${255/255} 1.0"/>
      	</material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://franka_description/meshes/wireloop/sample_handle.stl"/>
        </geometry>
      </collision>
    </link>
    <link name="${ns}_handleFT">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.0001"/>
        <inertia ixx="0.000015" ixy="0.0" ixz="0.0" iyy="0.000005" iyz="-0.00004" izz="0.000012"/>
      </inertial>
    </link>
    <joint name="${ns}_handlejointFT" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.07"/>
      <parent link="${ns}_handle"/>
      <child link="${ns}_handleFT"/>
      <axis xyz="0 0 0"/>
    </joint>
    
  </xacro:macro>
</robot>

