[submodule "ROS_nodes/franka_description"]
	path = ROS_nodes/franka_description
	url = git@gitlab.inria.fr:auctus/panda/franka_description.git
[submodule "pycapacity"]
	path = pycapacity
	url = git@gitlab.inria.fr:askuric/pycapacity.git
[submodule "ROS_nodes/hrl-kdl"]
	path = ROS_nodes/hrl-kdl
	url = git@gitlab.inria.fr:ros_nodes/hrl-kdl.git
