[submodule "pycapacity"]
	path = pycapacity
	url = git@gitlab.inria.fr:askuric/pycapacity.git
[submodule "ROS/packages/panda_capacity"]
	path = ROS/packages/panda_capacity
	url = git@gitlab.inria.fr:auctus-team/people/antunskuric/ros_nodes/panda_capacity.git
[submodule "ROS/packages/hrl-kdl"]
	path = ROS/packages/hrl-kdl
	url = git@gitlab.inria.fr:auctus-team/people/antunskuric/ros_nodes/hrl-kdl.git
[submodule "ROS/packages/franka_description"]
	path = ROS/packages/franka_description
	url = git@gitlab.inria.fr:auctus/panda/torque-qp-extended/franka_description.git
[submodule "ROS/catkin_ws/src/panda_capacity"]
	path = ROS/catkin_ws/src/panda_capacity
	url = git@gitlab.inria.fr:auctus-team/people/antunskuric/ros_nodes/panda_capacity.git
